<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content %>
    <%= hidden_field_tag :micropost, @micropost.id %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
